<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Imagen Digital</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../css/main.css">
	</head>
	<body>
		<div class="carousel carousel-slider center" data-indicators="true">
	      <div class="carousel-item white blue-text" href="#one!" id="nombre-usuario-bienvenido">
	        <p>Esto es lo que tenemos para ti</p>
	        <br>
	        <img class="responsive-img img-intro" src="../img/img_intro.png">
	        <br>
	        <p>Bienvenid@ <span id="name"></span> a Imagen Televisión</p>
	        <br>
	        <p>Aquí encontrarás el mejor contenido de entretenimiento, noticias, deportes y más.</p>
	      </div>
	      <div class="carousel-item white blue-text" href="#two!" id="lista-usuario-bienvenido">
	        <p>Esto es lo que tenemos para ti</p>
	        <br>
	        <img class="responsive-img img-intro" src="../img/img_mi_lista.png">
	        <br>
	        <p>Mi lista</p>
	        <br>
	        <p>Aquí puedes guardar tus videos favoritos para verlos todas las veces que quieras.</p>
	      </div>
	      <div class="carousel-item white blue-text" href="#two!" id="menu-usuario-bienvenido">
	        <p>Esto es lo que tenemos para ti</p>
	        <br>
	        <img class="responsive-img img-intro" src="../img/img_personalizar_menu.png">
	        <br>
	        <p>Personalizar menú</p>
	        <br>
	        <p>Acomoda las secciones a tu gusto arrastrándolas desde donde se muestra en la imagen.</p>
	      </div>
	      <div class="carousel-fixed-item center" id="btn-continuar-bienvenido"><a class="btn waves-effect red white-text darken-text-2" href="notificaciones.html">CONTINUAR</a></div>
	    </div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
		<script type="text/javascript" src="../js/bienvenido.js"></script>
	</body>
</html>
