<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Nuestros Conductores </title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../css/main.css">
	</head>

	<body>

		<header class="blue">

			<nav class="nav-extended black">
			<div class="nav-wrapper black ">
				<a href="#" class="brand-logo"><img  src="../../public/img/logo3.jpg" alt=""></a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="#"><img  src="img/vivo.png"></a></li>
					<li><a href="#"><img  src="img/lupa.png"></a></li>
				</ul>
				<ul class="side-nav black" id="mobile-demo">
					<div class="center">
						<img src="../img/logo3.jpg">
					</div>
					<li><a class="white-text" href="#"><img src="../img/ic_menu_profile.png">Mis Datos </a></li>
					<li><a class="white-text" href="canal.html"><img src="../img/ic_menu_my_list_light.png">Mi Lista</a></li>
					<li class="row">
						<a class="red white-text" href="#"><img src="../img/ic_menu_live_enable.png">Transmisión en vivo</a></li>
					<li><a class="white-text" href="#">Inicio</a></li>
					<li><a class="white-text" href="#">Noticias</a></li>
					<li><a class="white-text" href="#">Teleseries</a></li>
					<li><a class="white-text" href="#">Entretenimiento</a></li>
					<li><a class="white-text" href="#">Deportes</a></li>
					<li><a class="white-text" href="#">Nuestro Conductores</a></li>
					<li><a class="white-text" href="#">Programación</a></li>
					<li><a class="white-text" href="#">Notificaciones</a></li>
					<li><a class="white-text" href="#">Personalizar Menú</a></li>
					<li><a class="white-text" href="#">Información</a></li>
					<li><a class="white-text" href="#">Aviso de privacidad</a></li>
					<li><a class="white-text" href="#">Ayuda</a></li>
					<li><a id="cerrar" type="submite" class="white-text" href="#">Cerrar Sesión</a></li>
				</ul>
			</div>
		</nav>
		</header>

		<section id="titulo-registro" class="container">
			<div class="row center">
				<input type="text">
			</div>

			<div id="container-switch">
				<div class="row valign-wrapper">
					<div class="col s8">
						<p>Seleccionar todos</p>
					</div>
					<div class="switch col s4">
						<label>
							<input type="checkbox">
							<span class="lever"></span>
						</label>
					</div>
				</div>
				<div class="row valign-wrapper">
					<div class="col s7 offset-s1">
						<p>Imperdibles</p>
					</div>
					<div class="switch col s4">
						<label>
							<input type="checkbox">
							<span class="lever"></span>
						</label>
					</div>
				</div>
				<div class="row valign-wrapper">
					<div class="col s7 offset-s1">
						<p>Noticias</p>
					</div>
					<div class="switch col s4">
						<label>
							<input type="checkbox">
							<span class="lever"></span>
						</label>
					</div>
				</div>
				<div class="row valign-wrapper">
					<div class="col s7 offset-s1">
						<p>Teleseries</p>
					</div>
					<div class="switch col s4">
						<label>
							<input type="checkbox">
							<span class="lever"></span>
						</label>
					</div>
				</div>
				<div class="row valign-wrapper">
					<div class="col s7 offset-s1">
						<p>Entretenimiento</p>
					</div>
					<div class="switch col s4">
						<label>
							<input type="checkbox">
							<span class="lever"></span>
						</label>
					</div>
				</div>
				<div class="row valign-wrapper">
					<div class="col s7 offset-s1">
						<p>Deportes</p>
					</div>
					<div class="switch col s4">
						<label>
							<input type="checkbox">
							<span class="lever"></span>
						</label>
					</div>
				</div>
			</div>

			<div class="row center">
				<a href="bienvenido.html" class="btn red text-white">GUARDAR</a>
			</div>
		</section>

		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
		<script type="text/javascript" src="../js/conductores.js"></script>
	</body>

</html>