<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<title>Detalle Vídeo</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="../css/main.css">
	</head>

	<body>

		<nav class="nav-extended black">
			<div class="nav-wrapper black ">
				<a href="#" class="brand-logo"><img  src="../img/logo3.jpg" alt="logo"></a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="#"><img  src="../img/ic_menu_live.png"></a></li>
					<li><a href="#"><img  src="../img/ic_search.png"></a></li>
				</ul>
				<ul class="side-nav black" id="mobile-demo">
					<div class="center">
						<img src="../img/logo3.jpg">
					</div>
					<li><a class="white-text" href="#"><img src="../img/ic_menu_profile.png">Mis Datos </a></li>
					<li><a class="white-text" href="canal.html"><img src="../img/ic_menu_my_list_light.png">Mi Lista</a></li>
					<li class="row">
						<a class="red white-text" href="#"><img src="../img/ic_menu_live_enable.png">Transmisión en vivo</a></li>
					<li><a class="white-text" href="#">Inicio</a></li>
					<li><a class="white-text" href="#">Noticias</a></li>
					<li><a class="white-text" href="#">Teleseries</a></li>
					<li><a class="white-text" href="#">Entretenimiento</a></li>
					<li><a class="white-text" href="#">Deportes</a></li>
					<li><a class="white-text" href="#">Nuestro Conductores</a></li>
					<li><a class="white-text" href="#">Programación</a></li>
					<li><a class="white-text" href="#">Notificaciones</a></li>
					<li><a class="white-text" href="#">Personalizar Menú</a></li>
					<li><a class="white-text" href="#">Información</a></li>
					<li><a class="white-text" href="#">Aviso de privacidad</a></li>
					<li><a class="white-text" href="#">Ayuda</a></li>
					<li><a class="white-text" href="#">Cerrar Sesión</a></li>
				</ul>
			</div>
		</nav>

		<section class="container">
			<br>
			<div class="row">
				<img class="col s12 m12" src="../img/carlos arenas.jpg" alt="">
			</div>
		</section>
		<section class="container">
			<a href="#"><img src="../img/like.png" alt="like.png"> </a> <span>  90%  </span> <a href="#"><img src="../img/dislike.png" alt=""></a> <span>  10%  </span>
		</section>
		<section class="container">
			<h5><strong>Carlos Arenas</strong></h5>
		</section>
		<section class="container" id="">
			<p class="col s12">Alegre conductor mexicano que encatará tus días con sus <br> secciones de bienestar y gran carisma en Sale el Sol</p>
		</section>

		<section class="container">
			<li class="right"><a href="badges.html"><img src="../img/compartir.png"></a></li>
		</section>
		<h3 class="letraazul">Más de Carlos Arenas</h3>
		<div class="row">
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
		</div>
		</section>
	<section class="container">
		<div class="row">
			<h3>ENTRETENIMIENTO</h3>
		</div>
		<div class="row">
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
		</div>
	</section>
	<section class="container">
		<div class="row">
			<h3>NOTICIAS</h3>
		</div>
		<div class="row">
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
		</div>
	</section>
	<section class="container">
		<div class="row">
			<h3>TELESERIES</h3>
		</div>
		<div class="row">
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
		</div>
	</section>
	<section class="container">
		<div class="row">
			<h3>DEPORTES</h3>
		</div>
		<div class="row">
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
		</div>
	</section>
	<section class="container">
		<div class="row">
			<h3>LO MAS VISTO</h3>
		</div>
		<div class="row">
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
		</div>
	</section>
	<section class="container">
		<div class="row">
			<h3>CONTINUAR VIENDO</h3>
		</div>
		<div class="row">
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
		</div>
	</section>
	<section class="container">
		<div class="row">
			<h3>NUESTROS PROGRAMAS</h3>
		</div>
		<div class="row">
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
			<div class="col s4">
				<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
			</div>
		</div>
	</section>





	</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
<script src="../js/detalle-video.js"></script>

</html>
