<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Imagen Digital</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../css/main.css">
	</head>
	<body>
		<nav class="nav-extended black">
	      <div class="nav-wrapper"><a class="brand-logo " href="#"><img src="../img/logo3.jpg" alt="logo"></a></div>
	    </nav>
	    <br>
		<div class="container-fluid" id="recuperar-contraseña">
			<h6 class="center">Ingresa el correo electrónico con el que te uniste a Imagen Televisión.</h6>
			<br>
			<form class="col s12">
				<div class="row">
					<div class="input-field col s12 center">
						<input id="correo-recuperar-contraseña" type="email" class="validate">
          				<label for="password">Correo electrónico</label>
						<a class="btn waves-effect red white-text darken-text-2" href="inicio-sesion.html">ENVIAR</a>
					</div>
				</div>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
		<script type="text/javascript" src="../js/recuperar-contraseña.js"></script>
	</body>
</html>