
.side-nav img{height:25px;position:relative;top:10px;right:10px}.anchob{width:65em}.letraazul{color:#4fc3f7}.slider .slides li img{height:100%;width:100%;background-size:cover;background-position:right}
