$colornegro: #000000;
$colorazul: #6584ef;
$colorgrisc: #8f8f8f;
$colortur: #00c3a3;
$colormoradof:#38052a;
$colormoradoc:#451e36;
$colorblanco: #ffffff;

nav{
	.brand-logo{
		height: 50px;
	}
	.logo{
		height: 40px;
	}
}

.side-nav{
	img{
		height: 25px;
		position:relative;
		top: 10px;
		right: 10px;
	}
}

.anchob{
  width: 65em;
}

.letraazul{
  color: #4fc3f7 ;
}

.splash {
  margin-top: 50%; }

img.responsive-img.img-intro {
  width: 20vh;
 }
.carousel .indicators .indicator-item.active {
  background-color: red; }

.carousel .indicators .indicator-item {
  background-color: #028ace; }

#btn-continuar-bienvenido{
	margin-top: -200px;
}
#nombre-usuario-bienvenido, #lista-usuario-bienvenido, #menu-usuario-bienvenido{
	margin-top: 5vh;
}

.personalizar{
	li{
		border-bottom: 1px solid black;
	}
	button{
		background-color: red;
		border-radius: 5px;
		width: 60%;
		height: 40px;
		border: none;
	}
}